<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/style.css">
  <link rel="shortcut icon" href="static/favicon.png" type="image/png">
  <title>Container Training - Demo App</title>
</head>
<body>
  <h1>Container Training - Demo App 🤷‍</h1>
  <div class="big">💻🐒🔥</div>
  It's very basic, but good enough for a quick demo 😊 <br><br>
  My container/hostname is: <b>{{ hostname }}</b>

  <h1>A picture of a '{{ picture_of }}' 📷</h1>
  <img src="/image" alt="">
</body>
</html>
